App_WebReferences/ServiceReference1/AlbumService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MusicDataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MusicDataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Album" nillable="true" type="tns:Album" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbum" nillable="true" type="tns:ArrayOfAlbum" />
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumId" type="xs:int" />
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Album" nillable="true" type="tns:Album" />
</xs:schema>